<!DOCTYPE html>
<html>
<head>
    <title>ADMISSIONS</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-section">
        <img src="../static/images/banner.jpg">
    </div>
    <div class="admin-sec">
        <div class="top-button">
            <a href="/register">REGISTER</a>
            <a href="/view">VIEW</a>
        </div>
        <div class="down-button">
            <a href="/update">UPDATE</a>
            <a href="/delete">DELETE</a>
        </div>
    </div>
</body>
</html>