<!DOCTYPE html>
<html>
<head>
    <title>INDEX</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik+Distressed&family=Rubik+Doodle+Shadow&family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik+Distressed&family=Sawarabi+Mincho&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner-section">
        <img src="../static/images/banner.jpg">
    </div>
    <div class="admin">
        <div class="adminpic">
            <img src="../static/images/admissions.jpg">
        </div>
        <div class="college">
            <a href="/admission"><h1>MANAGE ADMISSIONS</h1></a>
            <img src="../static/images/college2.jpg">
        </div>
    </div>
    <div class="gallery">
        <div class="subagallery1"><h1>NRCM GALLERY</h1></div>
        <div class="subgallery2">
            <img src="../static/images/play.jpg">
            <img src="../static/images/students.jpg">
            <img src="../static/images/dining.jpg">
            <img src="../static/images/seminar.jpg">
            <img src="../static/images/graduation.jpg">
        </div>
    </div>
    <div class="contact">
        <div class="contact1">
            <img src="../static/images/hr.jpg">
        </div>
        <div class="contact2">
            <h2>CONTACT OUR VOLUNTEER</h2>
            <p>For any missings or any difficulties
                in the process of admission,
                please feel free to reach out to our volunteers</p><br><br>
            <p>she will take care of your pickup and accomodation
                and also she will be the guide to you for the campus tour</p><br>
            <p id="call">(+91) 123-456-789<br>
                admission@nrcm.com</p>
        </div>
    </div>
    <div class="add">
        <div class="subadd">
            <h3>ADDRESS</h3>
            <p>Maisammaguda(v),kompally
            <br>secundrabad,Telangana<br>
            Telanagana</p>
        </div>
        <div class="main">
          <form action="/query-form" method=post>
            <input id="name" type="name" name="name" placeholder="name"><br>
            <input id="mail" type="name" name="email" placeholder="email"><br>
            <input id="phone" type="number" name="phone" placeholder="phone"><br>
            <select name="course">
                <option value="select option">Select Option</option>
                <option value="CSE">CSE</option>
                <option value="IT">IT</option>
                <option value="ECE">ECE</option>
                <option value="CIVIL">CIVIL</option>
                <option value="MECH">MECH</option>
                <option value="EEE">EEE</option>
            </select><br>
            <button>Submit</button>
          </form>
        </div>
        <div class="reach">
            <h3>CONTACT</h3>
            <p>Landline:123456789<br>
            email:nrcm.org@gmail.com<br>
            webiste:www.nrcm.com</p>
        </div>
    </div>
    <div class="copyright">
        <p>© Copyright 2024, All Rights Reserved</p>
    </div>
</body>
</html>