<!DOCTYPE html>
<html>
<head>
    <title>REGISTER</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="reg-form">
        <h4>REGISTARTION FORM</h4>
        <form action="/register_form" method="post">
            <input id="id" type="number" name="id" placeholder="ID"><br>
            <input id="name" type="text" name="name" placeholder="Name"><br>
            <input id="number" type="number" name="phone" placeholder="Phone Number"><br>
            <input id="mail" type="email" name="email" placeholder="Email"><br>
            <input id="rank" type="number" name="rank" placeholder="Eamcet-Rank"><br>
            <input id="percent" type="number" name="percentage" placeholder="Inter Percentage"><br>
            <input id="course" type="text" name="course" placeholder="Course Intrested"><br>
            <input id="address" type="text" name="address" placeholder="Address"><br>
            <button>REGISTER</button>
        </form>
    </div>
</body>
</html>